hent-filer.cmd
hent-filer.ps1
hent-filer-log.txt
hent-pdf.cmd
hent-pdf.ps1
hent-pdf-log.txt
hent-arkiv.cmd
hent-arkiv.ps1
hent-arkiv-log.txt
hent-arboretum.cmd
hent-arboretum.ps1
pdf-liste.txt
Claude outputs/
Thumbs.db
.DS_Store
